<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="HRM Application">
    <listeners>
        <listener class-name="com.SauceLabs.utility.Reporting"/>
    </listeners>
    <test name=" HRM Login page test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.SauceLabs.testcases.SaucdLogin_Test"/>
            <class name="com.SauceLabs.testcases.addCart_001"/>
            <class name="com.SauceLabs.testcases.CLinicOpenMRS.Test_OpenMRS_Login"/>
            <class name="com.SauceLabs.testcases.CLinicOpenMRS.Test_Register_Patient"/>
        </classes>
    </test>
</suite>